.rdw-suggestion-wrapper {
  position: relative;
}
.rdw-suggestion-dropdown {
  border: 1px solid #F1F1F1;
  min-width: 120px;
  max-height: 300px;
  overflow: auto;
  background: #fff;
}

.tz-rdw-editor-mention-popup {
  position: fixed;
}

.rdw-suggestion-option {
  word-break: keep-all;
  white-space: nowrap;
}

.rdw-suggestion-option-active {
  background-color: #F1F1F1;
}
